.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    background: var(--purple-transparent);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    margin-bottom: 5px;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-auto-flow: 10px;
    p {
        font-size: clamp(13px, 1.5vw, 15px);
        font-weight: 300;
    }
}

.btn {
    width: fit-content;
    border: 2px solid var(--purple-light);
    padding: 2px 8px;
    margin-top: 8px;
    border-radius: 3px;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.btn:hover {
    background: var(--purple-light);
    color: black;
}